version: '3.8'

services:
  # -----------------------------------------------------------
  # 1. DATABASE USER MANAGER (MySQL)
  # -----------------------------------------------------------
  db:
    image: mysql:8.0
    container_name: mysql_container
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - flight_network


 # ------------------------------------
  # 2. Database per Data Collector (MongoDB)
  # ------------------------------------
  data_db:
    image: mongo:6.0
    container_name: flight_data_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27017:27017"
    volumes:
      - data_mongo_data:/data/db
    networks:
      - flight_network

  # -----------------------------------------------------------
  # 3. USER MANAGER
  # -----------------------------------------------------------
  user-manager:
    build:
      context: .
      dockerfile: user-manager/Dockerfile
    container_name: user_manager
    ports:
      - "5002:5000"
      - "50051:50051"
    depends_on:
      - db
  
    environment:
      - FLASK_APP=main.py
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root_password
      - DB_NAME=user_db
      - GRPC_PORT=50051
      - DATA_COLLECTOR_HOST=data-collector
      - DATA-COLLECTOR_GRPC_PORT=50052
    networks:
      - flight_network
  
  
  # -----------------------------------------------------------
  # 4. DATA COLLECTOR
  # -----------------------------------------------------------
  data-collector:
    build:
      context: .
      dockerfile: data-collector/Dockerfile
    container_name: data_collector
    ports:
      - "5001:5000"
      - "50052:50052"
    depends_on:
      - db
      - user-manager
    environment:
      - FLASK_APP=main.py
      - MONGO_URI=mongodb://admin:password123@data_db:27017
      - OPENSKY_USERNAME=hentoo-api-client
      - OPENSKY_PASSWORD=kltxoWgOEAjPFJKfePqCKSjqLmUMOT7g
      - USER_MANAGER_HOST=user-manager
      - USER_MANAGER_GRPC_PORT=50051
      - GRPC_PORT=50052
    networks:
      - flight_network

volumes:
  db_data:
  data_mongo_data:

networks:
  flight_network:
    driver: bridge